<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Heavens Link</title>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/ls.css">
</head>
<body>
    <div class="a1">
        <div id="b1" class="qs">
            <div id="lg">
                Heaven's Link
            </div>
        </div>
        <div id="b2">
            <div class="sm"><a href="#"><i class='fab fa-facebook-f'></i></a></div>
            <div class="sm"><a href="#"><i class='fab fa-youtube'></i></a></div>
            <div class="sm"><a href="#"><i class='fab fa-twitter'></i></a></div>
        </div>
    </div>
    <div class="a2">
        <div id="miniBox">
            <div id="mb-top">
                <div class="mb-v">
                    Deuteronomy 8:6
                </div>
                <div class="gd"></div>
            </div>
            <div id="mb-bottom">
                <p>
                    Therefore thou shalt keep the commandments of the Lord thy God, to walk in his ways, and to fear him.
                </p>
            </div>
        </div>
        <div id="b3">
            <div class="mts">
                <img src="/static/img/Mountains.jpg" alt="Mountains">
            </div>
            <div class="mts-t">
                <p>
                    If we can maintain ourselves in constant fellowship with Jesus we would reach New Levels Of Glory. The goal of Heaven's Link is to help believers & non-beliervers connect to God.
                    We believe God is always talking to us but not all of us are listening to him. Stick around and stay tuned for more of Heaven's Link.
                </p>
            </div>
        </div>
    </div>
    <div class="a3">
        <div id="le">
            Thanks For Visiting
        </div>
    </div>
    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/static/js/app.js"></script>
</body>
</html>